src/main/mule/implementations/get-covid-reports.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	    <flow name="get:\reports:uhub-sapi-config">
        <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set Variable" doc:id="f6aa3984-6540-4c7e-826a-be62c4ad8449" variableName="correlationId" />
		<logger level="INFO" doc:name="Start Logger" doc:id="78691524-e64f-4946-ad9d-e00f330f3e40" message="transactionID: #[vars.transactionId], correlationID: #[vars.correlationId] Start Covid Case Retrival. payload: #[payload]" />
		<flow-ref doc:name="Flow Reference" doc:id="f3e8f503-e33a-463c-9efa-1393f0ef621e" name="fetch-covid-reports"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
fun vaccinatedByState(state) = (payload filter(($.STATE == state as String) and ($.CASE_TYPE == "vaccinated")) map {
	COUNT: $.COUNT
})[0]
---
((payload groupBy($.STATE) mapObject {
	caseReports: {
		state: $$,
		reports: {
			total: ($.COUNT reduce $ + $$) - (vaccinatedByState($$).COUNT as Number default 0),
			($ orderBy($.CASE_TYPE) map { 
				($.CASE_TYPE): $.COUNT
			})
		}
	}
}).*caseReports) default []]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Finish Logger" doc:id="7c8607f2-1b65-4b02-b745-2ebe96be242e" message="transactionID: #[vars.transactionId], correlationID: #[vars.correlationId] Finish Covid Case Retrival. payload: #[payload]"/>
		<error-handler ref="global-error-handler" />
    
</flow>
	
	</mule>
