src/main/mule/implementations/get-covid-case-by-national-Id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	   <flow name="get:\cases\(nationalID):uhub-sapi-config">
        <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set Variable" doc:id="0620a17e-2aab-4ec0-8623-6cd515b3355e" variableName="correlationId" />
		<logger level="INFO" doc:name="Start Logger" doc:id="681df79d-e9a2-4feb-96cd-9a51955d64bf" message="transactionID: #[vars.transactionId], correlationID: #[vars.correlationId] Start Covid Case Retrival by NationalID. payload: #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="0a55ad27-d956-49d0-aa9f-776a4177f9d6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	NATIONAL_ID: attributes.uriParams.'nationalID' as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="78d65824-e8e4-464f-a9a6-a26c81ca254c" name="get-covid-case-by-nationa-id"/>
		<choice doc:name="Choice" doc:id="ab5bd144-9fd9-4e15-816f-00817849eeac" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map (covidCase, indexOfCovidCase) ->
{
  caseID: covidCase.CASE_ID,
  source: covidCase.SOURCE,
  caseType:covidCase.CASE_TYPE,
  firstName:covidCase.FIRST_NAME,
  lastName: covidCase.LAST_NAME,
  phone: covidCase.PHONE,
  email: covidCase.EMAIL,
  dateOfBirth: covidCase.DATE_OF_BIRTH,
  nationalID: covidCase.NATIONAL_ID,
  nationalIDType: covidCase.NATIONAL_ID_TYPE,
  address: {
    streetAddress: covidCase.STREET_ADDRESS,
    city: covidCase.CITY,
    state: covidCase.STATE,
    postal: covidCase.POSTAL_CODE,
    country: covidCase.COUNTRY
  }
} ]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="set Record Not Found" doc:id="ae289394-d528-4937-a87f-4b4807d1496e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"code": 404,
	"message": "Record not found",
	"description": "The server has not found any matching records",
	"dateTime": now() as String {format: 'yyyy-MM-dd hh:mm:ss'},
	"transactionID" : vars.transactionId
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Finish Logger" doc:id="2c25f9e9-3652-458f-9ce9-cca42193be6d" message="transactionID: #[vars.transactionId], correlationID: #[vars.correlationId] Finish Covid Case Retrival by NationalID. payload: #[payload]"/>
		<error-handler ref="global-error-handler" />
    
</flow>
	
	
	</mule>
