src/main/mule/implementations/update-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	
	    <flow name="put:\cases:application\json:uhub-sapi-config">
        <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set Variable" doc:id="bc66bb4a-590b-4023-a68b-1d0454c78f71" variableName="correlationId"/>
		<logger level="INFO" doc:name="Logger - Start" doc:id="fdcd5f6b-b558-443f-b22c-2f02304d16b6" message="transactionID: #[vars.transactionId], correlationID: #[vars.correlationId] Start Update Covid Case. payload: #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="dd7e599e-7c84-407d-bace-720b3851d502" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	
	FIRST_NAME: payload.firstName,
	LAST_NAME: payload.lastName,
	NATIONAL_ID_TYPE: payload.nationalIDType,
	PHONE: payload.phone,
	EMAIL: payload.email,
	CASE_TYPE: payload.caseType,
	SOURCE: payload.source,
	NATIONAL_ID: payload.nationalID,
	DATE_OF_BIRTH: payload.dateOfBirth,
	STREET_ADDRESS: payload.address.streetAddress,
	CITY: payload.address.city,
	STATE: payload.address.state,
	COUNTRY: payload.address.country,
	POSTAL_CODE: payload.address.postal,
	UPDATED: now() as String {format: 'yyyy-MM-dd hh:mm:ss'},
	UPDATED_BY: "UHUB"
	
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="06465e0e-bd29-4d0c-b63a-843726742f55" name="update-covid-case" />
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  caseID: payload.generatedKeys.CASE_ID as String
  
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger - Finish" doc:id="3b4b6c61-5dc2-43af-8919-9a4d3c3a1afc" message="transactionID: #[vars.transactionId], correlationID: #[vars.correlationId] Finish Update Covid Case. payload: #[payload]"/>
		<error-handler ref="global-error-handler" />
    
</flow>
	
	</mule>
